%h1.title Number Puzzle

%div.board
  %div.row
    %span.tile#tile-1 1
    %span.tile#tile-2 2
    %span.tile#tile-3 3
    %span.tile#tile-4 4
  %div.row
    %span.tile#tile-5 5
    %span.tile#tile-6 6
    %span.tile#tile-7 7
    %span.tile#tile-8 8
  %div.row
    %span.tile#tile-9 9
    %span.tile#tile-10 10
    %span.tile#tile-11 11
    %span.tile#tile-12 12
  %div.row
    %span.tile#tile-13 13
    %span.tile#tile-14 14
    %span.tile#tile-15 15
    %span.tile#blank-tile &nbsp;
