$main-color: #3D6599;
.title {
  width: 100%;
  text-align: center;
  color: $main-color;
}
.game-over {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, 0);
  p {
    margin: 5px;
  }
  .title {
    color: #37BFB6;
    margin: 5px;
    opacity: 0;
  }
}
.instructions {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, 0);
}
.board {
  background-color: #E2E2E2;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  padding: 10px;
  user-select: none;
  transform: translate(-50%, 0);
  font-size: 0px;

  .tile {
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 5px;
    padding: 5px;

    &#tile-blank {
      background-color: $main-color;
    }
  }
}
